<div class="container">
    <h1>Departamentos</h1>
    <h3>Seleccione una opción</h3>
    <div class="button-container">
        <a [routerLink]="['/departamentos']" class="button">Ver Departamentos</a>
    </div>
</div>

<div class="container">
    <h1>Empleados</h1>
    <h3>Seleccione una opción</h3>
    <div class="button-container">
        <a [routerLink]="['/crear-empleado']" class="button">Crear Empleado</a>
        <a [routerLink]="['/empleados']" class="button">Ver Empleados</a>
    </div>
</div>