<div *ngIf="empleados.length > 0">
    <h1>Lista de Empleados</h1>
    <select id="slc_departamento" (change)="getEmpleadosByDepartamento()">
        <option value="0">Todos</option>
        <option *ngFor="let departamento of departamentos" [value]="departamento.id">{{ departamento.name }}</option>
    </select>
    <table>
        <thead>
            <th>ID</th>
            <th>Nombre</th>
            <th>Ubicacion</th>
            <th>ID_Departamento</th>
        </thead>

        <tbody>
            <tr *ngFor="let empleado of empleados">
                <td>{{empleado.id}}</td>
                <td>{{empleado.name}}</td>
                <td>{{empleado.puesto}}</td>
                <td>{{empleado.id_departamento}}</td>
            </tr>
    </table>
</div>