<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h1>Departamentos</h1>
        <h3>Seleccione una opción</h3>
        <div class="button-container">
            <a href="" class="button">Ver Departamentos</a>
        </div>
    </div>

    <div class="container">
        <h1>Empleados</h1>
        <h3>Seleccione una opción</h3>
        <div class="button-container">
            <a href="" class="button">Crear Empleado</a>
            <a href="" class="button">Ver Empleados</a>
        </div>
    </div>
</body>
</html>